{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>English Paper Reading Helper</title>

        <!-- Custom fonts for this template-->
        <link href="{%static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->        
        <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
        </style>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
        </style>
    </head>
    <body>        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand pr-5" href="#" style="font-family: 'Abril Fatface', cursive; font-size: 30px;">English Reading Helper</a>
              <!--font-family: 'Anton', sans-serif; 다른 폰트-->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>              
              <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">메인
                      <!--<span class="visually-hidden">(current)</span>-->
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">유사 논문</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">시각화</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">내 페이지</a>
                  </li>
                  <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>-->
                </ul>
                <form class="d-flex">
                  <input class="form-control me-sm-2" type="text" placeholder="Search">
                  <!--<a href="/login">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">로그인</button>
                  </a>-->
                </form>
                <a href="login">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">로그인</button>
                </a>
              </div>
            </div>
          </nav>    
    </body>
</html>